.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 133.333px 85.333px 133.333px;
    gap: 200px;
   
    background-color: var(--bg-shade);

    .home-left{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;

      .home-hey{
          color: var(--heading-color);
          font-size: 21px;
          text-align: center;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
          display: flex;
          align-items: flex-start;

      }

      h1{
        color: var(--heading-color);
        font-size: 64px;
        font-weight: 600;
        line-height: 90px;
        align-self: stretch;
        span{
          color: var(--primary);
        }
      }

      p{
        color: var(--darkblue);
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
      }

    }
  }

  @media only screen and (max-width: 1000px) {
    .home{
      display: flex;
      flex-direction: column;
      gap: 50px;

      .home-left {
        gap: 0;

        .home-hey{
          font-size: 15px;
          line-height: 0;
  
        }
        
        h1{
          color: var(--heading-color);
          font-size: 34px;
          line-height: 50px;
        }

        p{
          color: var(--darkblue);
          font-size: 14px;
          font-weight: 400;
          line-height: 36px;
        }
      }

      .home-right{
        img {
          width: 400px;
        }
      }

    }
  }
